name: Generate feed

on:
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *" # Runs every day at 6am UTC

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Run script
        run: npm start

      - name: Commit and push changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add ./feeds
          git add database.sql
          if [[ -n $(git status --porcelain) ]]; then
            echo "Changes detected. Preparing to commit and push."
          else
            echo "No changes to commit."
            exit 0
          fi
          git commit -m '[ci] update generated feed'
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Send SMS action step
        if: failure()
        uses: 46elks/gh-actions-sms@v1.0.0
        with:
          apiUsername: ${{ secrets.ELKS_API_USERNAME }}
          apiPassword: ${{ secrets.ELKS_API_PASSWORD }}
          from: "GHaction"
          to: ${{ secrets.REPORT_PHONE_NUMBER }}
          message: "Generate feed failed: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/"
